* {
    box-sizing: border-box;
}

/* sets variable for colors used throughout the css */
:root {
    --headfoot: black;
    --background: black;
    --namebackground: #2564bb;
    --namecolor: aliceblue;
    --headinglines: yellow;
    --boxborder: magenta;
    --textcolor: white;
    --hflinks: white;
    --boxlinks: white;
    --h2color: #2564bb;
}

/* choose font and specific color for background and text */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textcolor);
    margin: 0;
    background-color:var(--background);
}

/* set the flex box for header and how the content is spaced */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--headfoot);
}

/* sets margins and padding for h1 header */
header h1 {
    background-color: var(--namebackground);
    margin: 0px;
    padding: 10px;
    color: var(--namecolor);
}

/* sets font and how list is displayed in the header */
header ul li {
    display: inline-flex;
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

/* these 4 dictate how the links in the nav bar list react to various inputs */
header a:link {
    color: var(--hflinks);
    text-decoration: none;
}

header a:visited {
    color: var(--hflinks);
    text-decoration: none;
}

header a:hover {
    color: darkblue;
    text-decoration: underline;
}

header a:active {
    color: var(--hflinks);
    text-decoration: underline;
}

/* select the size of the banner */
.banner {
    width: 100%;
    height: 150px;
}

/* selects margins for about element */
.about {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 2% 5% 0;
}

/* selects the margins and text of the h2 element */
.about h2 {
    flex: 20%;
    text-align: end;
    padding-right: 10px;
    color: var(--h2color);
    font-size: 200%;
}

/* selects formatting for p element under the about element */
.about p {
    flex: 80%;
    display: flex;
    flex-flow: row wrap;
    padding-left: 100px;
    border-left: 5px solid var(--headinglines);
}

.work {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 2% 5% 0;
}

.work h2 {
    flex: 20%;
    text-align: end;
    padding-right: 10px;
    color: var(--h2color);
    font-size: 200%;
}

/* sets formatting in boxes element */
.boxes {
    flex: 80%;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    padding-left: 100px;
    border-left: 5px solid var(--headinglines);
    color: var(--textcolor);
}

/* sets formatting for largest box*/
.mainproject {
    width: 100%;
    height: 40%;
    flex-grow: 2;
    background-image: url("images/project1.jpg.jpg");
    background-size: cover;
    border: 5px solid var(--boxborder);
    margin: 0 2% 1% 2%;
}

/* sets formatting for text pox in the work boxes */
.contents {
    width: 100px;
    position: relative;
    background-color: var(--boxborder);
    line-height: 1;
}

.project2 {
    flex-grow: 1;
    width: 40%;
    margin: 0 1% 1% 2%;
    background-image: url("images/project2.jpg.jpg");
    background-size: cover;
    border: 5px solid var(--boxborder);
}

.project3 {
    flex-grow: 1;
    width: 40%;
    margin: 0 2% 1% 1%;
    background-image: url("images/project3.jpg");
    background-size: cover;
    border: 5px solid var(--boxborder);
}

.project4 {
    flex-grow: 1;
    width: 40%;
    margin: 0 1% 1% 2%;
    background-image: url("images/project4.jpg");
    background-size: cover;
    border: 5px solid var(--boxborder);
}

.project5 {
    flex-grow: 1;
    width: 40%;
    margin: 0 2% 1% 1%;
    background-image: url("images/project5.jpg");
    background-size: cover;
    border: 5px solid var(--boxborder);
}

/* formatting for links in the boxes */
.boxes a:link {
    color: var(--boxlinks);
    text-decoration: none;
}

.boxes a:visited {
    color: var(--boxlinks);
    text-decoration: none;
}

.boxes a:hover {
    color: darkblue;
    text-decoration: underline;
}

.boxes a:active {
    color: var(--boxlinks);
    text-decoration: underline;
}

/* sets hover effect for the 5 boxes */
.mainproject:hover{
    filter: brightness(120%);
}

.project2:hover{
    filter: brightness(120%);
}

.project3:hover{
    filter: brightness(120%);
}

.project4:hover{
    filter: brightness(120%);
}

.project5:hover{
    filter: brightness(120%);
}

/* similar to header. sets formatting and list type information for contact me section */
footer {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 2% 5% 0;
}

footer h2 {
    flex: 20%;
    text-align: end;
    padding-right: 10px;
    color: var(--h2color);
    font-size: 200%;
}

footer ul {
    flex: 80%;
    display: flex;
    flex-flow: row wrap;
    padding-left: 100px;
    border-left: 5px solid var(--headinglines);
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: underline;
}

/* sets link formatting for links in contact me section */
footer a:link {
    color: var(--hflinks);
    text-decoration: none;
}

footer a:visited {
    color: var(--hflinks);
    text-decoration: none;
}

footer a:hover {
    color: darkblue;
    text-decoration: underline;
}

footer a:active {
    color: var(--hflinks);
    text-decoration: underline;
}

/* sets a minimum width to change in box view on smaller screens */
@media screen and (max-width: 800px) {
    .boxes {
        flex-direction: column;
    }
}
