* {
    box-sizing: border-box;
}

:root {
    --headfoot: black;
    --background: black;
    --namebackground: #2564bb;
    --namecolor: aliceblue;
    --headinglines: yellow;
    --boxborder: magenta;
    --textcolor: white;
    --hflinks: white;
    --boxlinks: white;
    --h2color: #2564bb;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textcolor);
    margin: 0;
    background-color:var(--background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--headfoot);
}

header h1 {
    background-color: var(--namebackground);
    margin: 0px;
    padding: 10px;
    color: var(--namecolor);
}

header ul li {
    display: inline-flex;
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

header a:link {
    color: var(--hflinks);
    text-decoration: none;
}

header a:visited {
    color: var(--hflinks);
    text-decoration: none;
}

header a:hover {
    color: darkblue;
    text-decoration: underline;
}

header a:active {
    color: var(--hflinks);
    text-decoration: underline;
}

.banner {
    width: 100%;
    height: 150px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 2% 5% 0;
}

.about h2 {
    flex: 20%;
    text-align: end;
    padding-right: 10px;
    color: var(--h2color);
    font-size: 200%;
}

.about p {
    flex: 80%;
    display: flex;
    flex-flow: row wrap;
    padding-left: 100px;
    border-left: 5px solid var(--headinglines);
}

.work {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 2% 5% 0;
}

.work h2 {
    flex: 20%;
    text-align: end;
    padding-right: 10px;
    color: var(--h2color);
    font-size: 200%;
}

.boxes {
    flex: 80%;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    padding-left: 100px;
    border-left: 5px solid var(--headinglines);
    color: var(--textcolor);
}

.mainproject {
    width: 100%;
    height: 40%;
    flex-grow: 2;
    background-image: url("/images/project1.jpg.jpg");
    background-size: cover;
    border: 5px solid var(--boxborder);
    margin: 0 2% 1% 2%;
}

.contents {
    width: 100px;
    position: relative;
    background-color: var(--boxborder);
    line-height: 1;
}

.project2 {
    flex-grow: 1;
    width: 40%;
    margin: 0 1% 1% 2%;
    background-image: url("/images/project2.jpg.jpg");
    background-size: cover;
    border: 5px solid var(--boxborder);
}

.project3 {
    flex-grow: 1;
    width: 40%;
    margin: 0 2% 1% 1%;
    background-image: url("/images/project3.jpg");
    background-size: cover;
    border: 5px solid var(--boxborder);
}

.project4 {
    flex-grow: 1;
    width: 40%;
    margin: 0 1% 1% 2%;
    background-image: url("/images/project4.jpg");
    background-size: cover;
    border: 5px solid var(--boxborder);
}

.project5 {
    flex-grow: 1;
    width: 40%;
    margin: 0 2% 1% 1%;
    background-image: url("/images/project5.jpg");
    background-size: cover;
    border: 5px solid var(--boxborder);
}

.boxes a:link {
    color: var(--boxlinks);
    text-decoration: none;
}

.boxes a:visited {
    color: var(--boxlinks);
    text-decoration: none;
}

.boxes a:hover {
    color: darkblue;
    text-decoration: underline;
}

.boxes a:active {
    color: var(--boxlinks);
    text-decoration: underline;
}

.mainproject:hover{
    filter: brightness(120%);
}

.project2:hover{
    filter: brightness(120%);
}

.project3:hover{
    filter: brightness(120%);
}

.project4:hover{
    filter: brightness(120%);
}

.project5:hover{
    filter: brightness(120%);
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 2% 5% 0;
}

footer h2 {
    flex: 20%;
    text-align: end;
    padding-right: 10px;
    color: var(--h2color);
    font-size: 200%;
}

footer ul {
    flex: 80%;
    display: flex;
    flex-flow: row wrap;
    padding-left: 100px;
    border-left: 5px solid var(--headinglines);
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: underline;
}

footer a:link {
    color: var(--hflinks);
    text-decoration: none;
}

footer a:visited {
    color: var(--hflinks);
    text-decoration: none;
}

footer a:hover {
    color: darkblue;
    text-decoration: underline;
}

footer a:active {
    color: var(--hflinks);
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .boxes {
        flex-direction: column;
    }
}
